.form {
    display: grid;
    align-content: flex-start;
    gap: var(--spacingR);
}

.form .inputCont,
.form textarea {
    padding: var(--spacingR);
    background-color: var(--bg5);
    border: none;
}

.form input {
    border: none;
}

.inputCont:has(input:focus) {
    border: 1px solid var(--c1);
}

.form textarea:focus {
    border: 1px solid var(--c1);
    outline: none;
}

.form input:focus {
    outline: none;
}