.card {
    box-shadow: 0px 0px 7px 2px color-mix(in hsl, var(--bg1), transparent 90%);
    background-color: var(--bg2);
    padding: var(--spacingL);
}

.linkCont {
    transition: filter var(--transitionTimeS);
    color: var(--c1);
    text-transform: capitalize;
}

.linkCont:hover {
    filter: brightness(.8);
}

.linkCont>span {
    position: relative;
    transition: translate var(--transitionTimeS);
}

.linkCont:hover>span {
    translate: 10%;
}