.mainNav {
    background-color: var(--bg2);
    color: var(--textC4);
    text-transform: uppercase;
    z-index: 999;
    font-weight: 500;
}

.mainNav svg {
    fill: var(--shade1)
}

.desktopMenu {
    padding: 0rem var(--spacingR);
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    justify-content: space-between;
    align-items: center;
}

.mainMenu {
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
    white-space: nowrap;
    background-color: var(--bg2);
}

.mainMenuItem {
    position: relative;
    cursor: pointer;
}

.mainMenuItemTopCont {
    display: flex;
    align-items: center;
    gap: var(--spacingES);
    padding: var(--spacingR);
    justify-content: center;
}

.mainMenuItem:hover a,
.mainMenuItem:hover svg {
    transition: fill var(--transitionTimeR), color var(--transitionTimeR);
}

.mainMenuItem:hover>div>a,
.mainMenuItem:hover>div>svg {
    color: var(--c1);
    fill: var(--c1);
}

.subMenu {
    display: none;
    align-content: flex-start;
    position: absolute;
    left: 0;
    background-color: var(--bg2);
    animation: moveUp 400ms both
}

@keyframes moveUp {
    from {
        translate: 0 10%;
    }

    to {
        translate: 0 0;
    }
}

.subMenu>.subMenuItem:last-child {
    border-bottom: 3px solid var(--c1);
}

.subMenuItem {
    padding: var(--spacingR);
    cursor: pointer;
    border-bottom: 1px solid var(--shade2);
}

.subMenuItem:hover>div>a,
.subMenuItem:hover>div>svg {
    color: var(--c1);
    fill: var(--c1);
}

.subSubMenu {
    display: none;
    align-content: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    translate: 100% 0;
    background-color: var(--bg2);
}

.subSubMenuItem {
    padding: var(--spacingR);
    cursor: pointer;
}

.subSubMenuItem:hover>a,
.subSubMenuItem:hover>svg {
    color: var(--c1);
    fill: var(--c1);
}

.mobileMenu {
    display: none;
}

.contDiv {
    display: grid;
    position: relative;
    align-items: center;
}

.moreItemsMenu {
    padding: var(--spacingS);
    display: grid;
    position: absolute;
    top: 100%;
    right: 0;
    width: min(300px, 100vw);
    background-color: var(--bg2);
}

.moreIntemsItem {
    padding: .5rem;
    transition: color 400ms, background-color 400ms;
    cursor: pointer;
}

.moreIntemsItem:hover {
    background-color: hsl(from var(--bg2) h s calc(l - 5))
}

.loginMenu {
    justify-self: flex-end;
    display: grid;
    align-content: flex-start;
}

body:has(.visibilityCheckbox:checked) {
    overflow: clip;
}

/* desktop  */
@media only screen and (min-width: 901px) {
    .mainMenuItem:hover>.subMenu {
        display: grid;
    }

    .subMenuItem:hover>.subSubMenu {
        display: grid;
    }

    .onlyOnMobile {
        display: none;
    }
}

/* mobile */
@media only screen and (max-width: 900px) {
    .desktopMenu {
        display: none !important;
    }

    .mobileMenu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-inline: var(--spacingR);
    }

    .mainMenu {
        display: grid;
        justify-content: stretch;
        grid-auto-flow: row;
        height: auto;
        height: 100%;
        overflow-y: auto;
        position: fixed;
        top: 0;
        left: 0;
        width: 80%;
        z-index: 0;
    }

    .mainMenuItem {
        position: relative;
        padding: var(--spacingR);
        border-bottom: 1px solid var(--shade2);
        z-index: 1;
    }

    .mainMenuItemTopCont {
        padding: 0;
        justify-content: space-between;
    }

    .subMenu {
        display: grid;
        position: relative;
        top: 0rem;
        left: 0rem;
    }

    .subMenuItem>div:first-of-type {
        padding: 0;
    }

    .subSubMenu {
        display: grid;
        position: relative;
        top: 0rem;
        left: 0rem;
        translate: 0px 0px;
    }

    .subSubMenuItem {
        padding: var(--spacingR);
    }

    .loginMenu {
        justify-self: flex-start;
    }
}