.form {
    display: grid;
    align-content: flex-start;
    gap: 1rem;
    padding: 1rem;
    overflow: auto;
}

.heading {
    display: grid;
    align-content: flex-start;
    grid-template-rows: auto auto;

}

.moreCont {
    position: absolute;
    top: 0;
    left: 100%;
    background-color: var(--bg2);
    padding: var(--spacingR);
    z-index: 1;
    width: auto;
}

.table input {
    padding: var(--spacingS);
    font-size: var(--fontSizeS);
}



















.main {
    background-color: var(--bg2);
    padding: var(--spacingR);
}

.noBorder>li {
    border: none;
}