.cont {
    display: grid;
    align-items: center;
}

.moreItemsMenu {
    display: grid;
    position: absolute;
    padding: var(--spacingS);
    top: 100%;
    right: 0;
    width: min(300px, 100vw);
    background-color: var(--bg2)
}

.moreIntemsItem {
    padding: .5rem;
    transition: color 400ms, background-color 400ms;
    cursor: pointer;
}

.moreIntemsItem:hover {
    background-color: var(--bg2);
}