.form {
    display: grid;
    align-content: flex-start;
    gap: var(--spacingR);
    padding: var(--spacingR);
    overflow: auto;
}

.preAlert {
    border: 1px solid transparent;
}

.selected {
    border: 1px solid var(--c5);
}