.form {
    display: grid;
    align-content: flex-start;
    gap: 1rem;
    padding: 1rem;
    overflow: auto;
}

.preAlert {
    border: 1px solid transparent;
}

.selected {
    border: 1px solid var(--c5);
}